<div class="container-fluid bg-dark pt-3 pb-2">
    <div class="row px-lg-5 px-md-4 px-sm-2">
        <p class="h4">Admin Dashboard</p>
        <div class="col-12">
            <div class="card border-secondary-subtle mb-3">
                <div class="card-header bg-dark-subtle">Overviews</div>
                <div class="card-body bg-dark">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card border-primary mb-3">
                                <div class="card-header">Daily visitor</div>
                                <div class="card-body bg-secondary-subtle">
                                    <h4 class="card-title">Primary card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card border-primary mb-3">
                                <div class="card-header">Weekly visitor</div>
                                <div class="card-body bg-secondary-subtle">
                                    <h4 class="card-title">Primary card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card border-primary mb-3">
                                <div class="mb-2">
                                    <div class="card-header bg-warning">Analyze</div>
                                    <div class="card-body">
                                        <span>Daily goal(last day)</span>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">7,500</div>
                                            <div class="progress-bar bg-secondary" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">10,000</div>
                                        </div>
                                        <div class="mt-3">
                                            <span>Weekly goal(last week)</span>
                                        </div>
                                        <div class="progress">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 36%;" aria-valuenow="36" aria-valuemin="0" aria-valuemax="100">36,000</div>
                                            <div class="progress-bar bg-secondary" role="progressbar" style="width: 64%;" aria-valuenow="64" aria-valuemin="0" aria-valuemax="100">100,000</div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card border-secondary-subtle mb-3">
                <div class="card-header bg-dark-subtle">Event</div>
                <div class="card-body bg-dark">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card border-primary mb-3">
                                <div class="card-header">Daily events</div>
                                <div class="card-body bg-secondary-subtle">
                                    <h4 class="card-title">Primary card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card border-primary mb-3">
                                <div class="card-header">Weekly event</div>
                                <div class="card-body bg-secondary-subtle">
                                    <h4 class="card-title">Primary card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card border-primary mb-3">
                                <div class="card-header">Analyze</div>
                                <div class="card-body bg-secondary-subtle">
                                    <h4 class="card-title">Primary card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card border-secondary-subtle mb-3">
                <div class="card-header bg-dark-subtle">User</div>
                <div class="card-body bg-dark">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card border-primary mb-3">
                                <div class="card-header">Daily user</div>
                                <div class="card-body bg-secondary-subtle">
                                    <h4 class="card-title">Primary card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card border-primary mb-3">
                                <div class="card-header">Weekly user</div>
                                <div class="card-body bg-secondary-subtle">
                                    <h4 class="card-title">Primary card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card border-primary mb-3">
                                <div class="card-header">Analyze</div>
                                <div class="card-body bg-secondary-subtle">
                                    <h4 class="card-title">Primary card title</h4>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>