<header>
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-secondary fixed-top">
        <div class="container">
            <a class="navbar-brand text-bg-danger px-2 rounded-2 fw-bold" href="/home">EventJui</a>
            <button class="navbar-toggler bg-danger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <div class="text-center">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Events
                            </a>
                            <ul class="dropdown-menu bg-dark-subtle">
                                <li>
                                    <a class="dropdown-item" href="/events/sport">
                                        <i class="bi bi-trophy-fill"></i> Sport
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/events/conferences">
                                        <i class="bi bi-chat-dots-fill"></i> Conferences
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/events/expo">
                                        <i class="bi bi-cart-fill"></i> Expo
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/events/concert">
                                        <i class="bi bi-music-note-beamed"></i> Concert
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/events/festival">
                                        <i class="bi bi-bookmark-star-fill"></i> Festival
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/events/art">
                                        <i class="bi bi-brush-fill"></i> Art
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/events/community">
                                        <i class="bi bi-people-fill"></i> Community
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="/events/holiday">
                                        <i class="bi bi-brightness-high-fill"></i> Holiday
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/events">All events</a></li>
                            </ul>
                        </div>
                    </li>
                    @if (CurrentUser is not null && isAdmin)
                    {
                        <li class="nav-item dropdown">
                            <div class="text-center">
                                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin Controller
                                </a>
                                <ul class="dropdown-menu bg-dark-subtle">
                                    <li><a class="dropdown-item" href="/admin">Dashboard</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/admin/eventsmanager/create">New Event</a></li>
                                    <li><a class="dropdown-item" href="/admin/eventsmanager">Event manager</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" href="/admin/usersmanager">User manager</a></li>
                                </ul>
                            </div>
                        </li>
                    }
                    @*<li class="nav-item px-2" style="padding-top: 0.15em;">
                        <div class="text-center">
                            <button class="btn btn-outline-secondary btn-dark bg-dark text-white py-1 px-2" data-bs-target="#search-modal" data-bs-toggle="modal">
                                <span>
                                    <i class="bi bi-search" style="font-size: 1.2rem;"></i> Search
                                </span>
                                <span style="padding-left:7rem;">
                                    🙂
                                </span>
                            </button>
                        </div>
                    </li>*@
                </ul>
                @if (CurrentUser is not null)
                {
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="btn-link text-white p-0" type="button" data-bs-toggle="offcanvas"
                             data-bs-target="#user-profile-offcanvas">
                            <i class="bi bi-person-circle" style="font-size: 1.5rem; color: lightgray;"></i>
                        </div>
                    </div>
                }
                else
                {
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" id="register" href="Identity/Account/Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" id="login" href="Identity/Account/Login">Login</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
</header>
@if (CurrentUser is not null)
{
    <div class="offcanvas offcanvas-end bg-dark border-start border-secondary" data-bs-scroll="true" tabindex="-1" id="user-profile-offcanvas"
         style="width:300px; border-radius:20px 0 0 20px">
        <div class="offcanvas-header">
            <div type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></div>
        </div>
        <div class="offcanvas-body text-white bg-dark" style="border-radius: 20px 0 0 20px;">
            <div class="list-group">
                <a id="manage" class="btn btn-outline-danger text-start nav-link ps-2 text-white" href="Identity/Account/Manage/Index" title="Manage">
                    Hello @(CurrentUser.DisplayName)
                </a>
                <hr />
                <form>
                    <a id="logout" href="/Identity/Account/Logout" class="btn btn-outline-danger text-start nav-link ps-2 text-white">Logout</a>
                </form>
            </div>
        </div>
    </div>
}

@*<div class="modal" id="search-modal" tabindex="-1" aria-labelledby="search-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="search-modal-label">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>*@