<header>
    <nav class="navbar navbar-expand-lg bg-dark border-bottom border-secondary fixed-top">
        <div class="container">
            <a class="navbar-brand text-bg-danger px-2 rounded-2 fw-bold" href="/">EventJui</a>
            <button class="navbar-toggler bg-danger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Events
                        </a>
                        <ul class="dropdown-menu bg-dark-subtle">
                            <li>
                                <a class="dropdown-item" href="/events/sport">
                                    <i class="fa-solid fa-medal"></i> Sport
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/events/conferences">
                                    <i class="fa-solid fa-comment"></i> Conferences
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/events/expo">
                                    <i class="fa-solid fa-universal-access"></i> Expo
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/events/concert">
                                    <i class="fa-solid fa-music"></i> Concert
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/events/festival">
                                    <i class="fa-solid fa-tag"></i> Festival
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/events/art">
                                    <i class="fa-solid fa-palette"></i> Art
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/events/community">
                                    <i class="fa-solid fa-people-group"></i> Community
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a class="dropdown-item" href="/events/holiday">
                                    <i class="fa-solid fa-sun"></i> Holiday
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/events/politic">
                                    <i class="fa-solid fa-hand-fist"></i> Politic
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/events/observances">
                                    <i class="fa-solid fa-hands-praying"></i> Observances
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/events/">
                                    <i class="fa-solid fa-school"></i> Academic
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/events">All events</a></li>
                        </ul>
                    </li>
                    @if (CurrentUser is not null && isAdmin)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin Controller
                            </a>
                            <ul class="dropdown-menu bg-dark-subtle">
                                <li><a class="dropdown-item" href="/admin">Dashboard</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/admin/eventsmanager/create">New Event</a></li>
                                <li><a class="dropdown-item" href="/admin/eventsmanager">Event manager</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/admin/usersmanager">User manager</a></li>
                            </ul>
                        </li>
                    }
                    }
                    <li class="nav-item" style="padding-top: 0.15em;">
                        <form class="container-fluid">
                            <div class="input-group">
                                <input type="text" class="form-control border-0" placeholder="Search" aria-label="Search" aria-describedby="navbar-search">
                            </div>
                        </form>
                    </li>
                </ul>
                @if (CurrentUser is not null)
                {
                    <div class="d-flex">
                        <div class="btn btn-outline-dark text-white p-0" type="button" data-bs-toggle="offcanvas"
                             data-bs-target="#user-profile-offcanvas">
                            👽 User controller
                        </div>
                    </div>
                }
                else
                {
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" id="register" href="Identity/Account/Register">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" id="login" href="Identity/Account/Login">Login</a>
                        </li>
                    </ul>
                }
            </div>
        </div>
    </nav>
</header>
@if (CurrentUser is not null)
{
    <div class="offcanvas offcanvas-end bg-dark border-start border-secondary" data-bs-scroll="true" tabindex="-1" id="user-profile-offcanvas"
         style="width:300px; border-radius:20px 0 0 20px">
        <div class="offcanvas-header">
            <div type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></div>
        </div>
        <div class="offcanvas-body text-white bg-dark" style="border-radius: 20px 0 0 20px;">
            <div class="list-group">
                <a id="manage" class="nav-link text-white" href="Identity/Account/Manage/Index" title="Manage">
                    Hello @(CurrentUser.DisplayName)
                </a>
                <hr />
                <form>
                    <a  id="logout" href="/Identity/Account/Logout" class="nav-link btn btn-link text-white border-0 text-start">Logout</a>
                </form>
            </div>
        </div>
    </div>
}