<main role="main" class="sticky-bottom">
    <div class="jumbotron jumbotron-detail-event-jui">
        <div class="container overview-static">
            <div class="row text-center pt-3 pb-1">
                <div class="col-md-3 mb-1">
                    <i class="fa-regular fa-eye h1"></i>
                    <h2 class="counter-count h2">45890620</h2>
                    <p class="count-text h4">Visitors</p>
                </div>
                <div class="col-md-3 mb-1">
                    <i class="fa-solid fa-person-circle-check h1"></i>
                    <h2 class="counter-count h2">993020</h2>
                    <p class="count-text h4">Registers</p>
                </div>
                <div class="col-md-3 mb-1">
                    <i class="fa-regular fa-flag h1"></i>
                    <h2 class="counter-count h2">86204</h2>
                    <p class="count-text h4">Events</p>
                </div>
                <div class="col-md-3 mb-1">
                    <i class="fa-regular fa-face-smile-wink h1"></i>
                    <h2 class="counter-count h2">293020</h2>
                    <p class="count-text h4">Enrolls</p>
                </div>
            </div>
        </div>
    </div>
</main>