<main role="main">
    <div class="jumbotron jumbotron-detail-apple-pie">
        <div class="container">
        </div>
    </div>
    <div class="container" style="background-color: rgb(36 34 24);">
        <h1>
            EventJui
            <small class="text-secondary h2">number one in finding events</small>
        </h1>
        <div class="row">
            <div class="col-md-8">
                <img src="images/products/applepie.jpg" class="rounded  img-fluid" alt="Image of apple pie">
            </div>

            <div class="col-md-4">
                <h3 class="text-capitalize my-3">About this pie</h3>
                <p class="text-center">
                    Sweet ice cream jelly beans lemon drops. Pastry toffee fruitcake gingerbread jelly-o.
                    Lollipop sesame snaps muffin. Macaroon halvah marshmallow sesame snaps sugar plum dragée.
                    Wafer pudding sesame snaps tootsie roll sesame snaps cake chupa chups jelly beans.
                </p>
                <h3 class="my-3">Ingredients</h3>
                <ul>
                    <li>Apple</li>
                    <li>Sugar</li>
                    <li>Eggs</li>
                    <li>Milk</li>
                </ul>
                <div class="row">
                    <div class="col-md-4">
                        <strong>$14.95</strong>
                    </div>
                    <div class="col-md-8">
                        <a type="button" href="shoppingbasket.html" data-toggle="modal" data-target="#addToBasketModal" class="btn btn-info float-right">
                            Add to basket
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive p-4">
                <table class="table table-striped table-hover table-dark">
                    <thead class="thead-light">
                        <tr>
                            <th>Ingredient</th>
                            <th>Risk</th>
                            <th>Percentage</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-primary">
                            <td>Apple</td>
                            <td>Yes</td>
                            <td>50%</td>
                        </tr>
                        <tr>
                            <td>Eggs</td>
                            <td>Yes</td>
                            <td class="table-danger">10%</td>
                        </tr>
                        <tr>
                            <td>Nuts</td>
                            <td>Maybe</td>
                            <td>&lt;0.1%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="p-4 mb-3 mt-2 bg-light rounded border border-primary">
            <h4>A quote from Bethany</h4>
            <p class="mb-0 font-italic">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, eligendi?</p>
        </div>

        <h3 class="my-4">Other customers also bought...</h3>
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <a href="applepie.html">
                    <img src="images/products/strawberrypiesmall.jpg" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="applepie.html">
                    <img src="images/products/rhubarbpiesmall.jpg" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="applepie.html">
                    <img src="images/products/peachpiesmall.jpg" alt="" class="img-fluid">
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="applepie.html">
                    <img src="images/products/cranberrypiesmall.jpg" alt="" class="img-fluid">
                </a>
            </div>
        </div>
    </div>
</main>