<main role="main" class="sticky-bottom">
    <div class="jumbotron jumbotron-detail-event-jui">
        <div class="container overview-static">
            <div class="row text-center pt-3 pb-1">
                <div class="col-md-3 mb-1">
                    <i class="fa-regular fa-eye h1"></i>
                    <h2 class="counter-count h2">45890620</h2>
                    <p class="count-text h4">Visitors</p>
                </div>
                <div class="col-md-3 mb-1">
                    <i class="fa-solid fa-person-circle-check h1"></i>
                    <h2 class="counter-count h2">993020</h2>
                    <p class="count-text h4">Registers</p>
                </div>
                <div class="col-md-3 mb-1">
                    <i class="fa-regular fa-flag h1"></i>
                    <h2 class="counter-count h2">86204</h2>
                    <p class="count-text h4">Events</p>
                </div>
                <div class="col-md-3 mb-1">
                    <i class="fa-regular fa-face-smile-wink h1"></i>
                    <h2 class="counter-count h2">293020</h2>
                    <p class="count-text h4">Enrolls</p>
                </div>
            </div>
        </div>
        @*<div class="carousel-container">
            <div id="carouselExampleSlidesOnly" class="carousel slide mt-3" data-bs-ride="">
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <img src="https://images.unsplash.com/photo-1506157786151-b8491531f063?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://images.unsplash.com/photo-1519750157634-b6d493a0f77c?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item active">
                        <img src="https://images.unsplash.com/photo-1529049635958-bfd2dd25c489?q=80&w=2040&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>*@
    </div>
</main>