<div class="container bg-dark py-5" style="max-width:500px">
    <form class="px-5 py-4">
        <fieldset>
            <legend class="text-center h1 fw-bold">REGISTER</legend>
            <div>
                <label for="eventName" class="form-label mt-2">Email</label>
                <input type="email" class="form-control" id="eventName" placeholder="email">
            </div>
            <div>
                <label for="eventName" class="form-label mt-4">Password</label>
                <input type="password" class="form-control" id="eventName" placeholder="password">
            </div>
            <div>
                <label for="eventName" class="form-label mt-4">Comfirm Password</label>
                <input type="password" class="form-control" id="eventName" placeholder="password">
            </div>
            <div>
                <label for="eventName" class="form-label mt-4">Name</label>
                <input type="text" class="form-control" id="eventName" placeholder="display name">
            </div>
            <div>
                <div class="form-check">
                    <label for="checkPolicy" class="form-check-label">I agree with the <a href="">term of services</a></label>
                    <input type="checkbox" class="form-check-input" id="checkPolicy">
                </div>
            </div>
            <div class="mt-4 text-center">
                <button class="btn btn-outline-success">Signup</button>
            </div>
        </fieldset>
    </form>
</div>