html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background: url("/imgs/davide-ragusa-gcDwzUGuUoI-unsplash.jpg") no-repeat fixed;
    background-size: cover;
}

/*.navbar {
    position: fixed;
}*/

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #dc3545; /* Change to your desired color */
    color: white; /* Change to your desired text color */
}

.jumbotron-detail-event-jui {
     /*background: url("https://images.unsplash.com/photo-1521610142770-4f09a2cdb252?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat fixed;*/
    opacity:1;
}

main {
    color: aliceblue;
}

.counter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search-index {
    position:relative;
    height: 40px;
}

    .search-index .input-search-index {
        background-color: #fff;
        border: 0;
        font-size: 18px;
        padding: 15px;
        height: 40px;
        width: 40px;
        transition: width 0.3s ease;
    }

.btn-search-index {
    background-color: white;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    position:absolute;
    top: 0;
    left: 0px;
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease;
}

    .btn-search-index:focus,
    .input-search-index:focus {
        outline: none;
    }

.search-index.active .input-search-index {
    width: 300px;
}

.search-index.active .btn-search-index {
    transform: translateX(298px);
}


.overview-static {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    color: #dc3545;
    color: #dc3545;
    position: absolute;
    background-color: rgb(0 0 0 / 0.75);
    border-radius: 100px;
    box-shadow: inset 0px 0px 40px 16px rgb(255 255 255 / 0.60);
    padding: 0;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: 1;
    top: 25vh;
}

@media (max-width: 767px) {
    .overview-static {
        top: 6vh;
    }
}


/*@media (max-width: 300px) {
    .overview-static {
        top: 12vh;
    }
}*/
/*.carousel-container {
    top:220px;
    position: fixed;
    opacity: 1;
}

.carousel-item {
    width: 1296px;*/ /* Set your desired width */
/*height: 250px;*/ /* Set your desired height */
/*overflow: hidden;*/ /* Hide the overflow of the image */
/*border-radius: 100px;*/ /* Optional: Add rounded corners */
/*}

    .carousel-item img {
        width: 100%;*/ /* Make the image fill the container horizontally */
/*height: auto;*/ /* Maintain aspect ratio */
/*object-fit: cover;*/ /* Crop the image to cover the container */
/*}*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}