@import url('https://fonts.googleapis.com/css2?family=Lato:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}*/

html {
    position: relative;
    min-height: 100%;
}

body{
    font-family: 'Cascadia Mono';
    /*background: linear-gradient(0deg, rgb(220, 53, 50) 0%, rgb(33 37 41) 50%);*/
    background: linear-gradient(0deg, rgb(33, 37, 41) 75%, rgb(126, 50, 35) 100%);
    /*background: url("https://images.unsplash.com/photo-1470229722913-7c0e2dbbafd3?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat fixed;*/
    background-size: cover;
    /*background-attachment: fixed;*/
}

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #dc3545; /* Change to your desired color */
    color: white; /* Change to your desired text color */
}

main {
    color: aliceblue;
}

.counter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overview-static {
    font-weight: 600;
    color: antiquewhite;
    position: absolute;
    background-color: rgb(0 0 0 / 0.2);
    border-radius: 120px;
    /*box-shadow: inset 0px 0px 40px 16px rgb(47 21 12 /0.9);*/
    box-shadow: inset 0px 0px 50px 16px rgb(10 20 30 / 0.90);
    padding: 0;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: 1;
    top: 25vh;
}

@media (max-width: 767px) {
    .overview-static {
        top: 6vh;
    }
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}


.overview-static {
    background: url("https://images.unsplash.com/photo-1507878866276-a947ef722fee?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat fixed;
    background-size: cover;
    background-attachment: fixed;
}
