html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: url("/imgs/davide-ragusa-gcDwzUGuUoI-unsplash.jpg") no-repeat fixed;
    background-size: cover;
}

/*.navbar {
    position: fixed;
}*/

.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #dc3545; /* Change to your desired color */
    color: white; /* Change to your desired text color */
}

.jumbotron-detail-apple-pie {
    background: url("https://images.unsplash.com/photo-1521610142770-4f09a2cdb252?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat fixed;
    opacity:0;
}

.jumbotron {
    height: 60vh;
    background-size: cover;
}

main {
    color:aliceblue;
}