@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="container-fluid mt-5 d-flex justify-content-center">
    <div class="row bg-dark align-items-center text-center rounded-5" style="height:30vh; width:400px;">
        <header>
            <h1>@ViewData["Title"]</h1>
            <div class="d-flex flex-column align-items-center">
                @{
                    if (User.Identity?.IsAuthenticated ?? false)
                    {
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                            <button type="submit" class="nav-link btn btn-link text-danger">Click here to Logout</button>
                        </form>
                    }
                    else
                    {
                        <p>You have successfully logged out of the application.</p>
                    }
                }
            </div>
        </header>
    </div>
</div>
