@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container bg-dark my-4" style="max-width:500px;">
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="px-5 py-4">       
        <fieldset>
            <legend class="text-center h1 fw-bold">REGISTER</legend>
            <hr />
            <div>
                <label asp-for="Input.Email" class="form-label mt-2">Email</label>
                <input asp-for="Input.Email" type="email" class="form-control" autocomplete="username" placeholder="email@example.com">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.Password" class="form-label mt-4">Password</label>
                <input asp-for="Input.Password" type="password" class="form-control" placeholder="password" autocomplete="new-password">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.ConfirmPassword" class="form-label mt-4">Comfirm Password</label>
                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="password" autocomplete="new-password">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Input.DisplayName" class="form-label mt-4">Display name</label>
                <input asp-for="Input.DisplayName" type="text" class="form-control" placeholder="display name">
                <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
            </div>
            <div>
                <div class="form-check mt-2">
                    <label asp-for="Input.CheckPolicy" class="form-check-label">I agree with the <a href="">term of services</a></label>
                    <input asp-for="Input.CheckPolicy" type="checkbox" class="form-check-input">
                    <span asp-validation-for="Input.CheckPolicy" class="text-danger"></span>
                </div>
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mt-4 text-center">
                <button class="btn btn-outline-success">Signup</button>
            </div>
        </fieldset>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
