<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EventManagementSystem</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EventManagementSystem.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/7afc703571.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark border-bottom border-secondary fixed-top">
            <div class="container">
                <a class="navbar-brand text-bg-danger px-2 rounded-2 fw-bold" asp-controller="Home" asp-action="Index">EventJui</a>
                <button class="navbar-toggler bg-danger" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Events
                            </a>
                            <ul class="dropdown-menu bg-dark-subtle">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa-solid fa-medal"></i> Sport
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa-solid fa-comment"></i> Conferences
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa-solid fa-universal-access"></i> Expo
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa-solid fa-music"></i> Concert
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa-solid fa-tag"></i> Festival
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa-solid fa-palette"></i> Art
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa-solid fa-people-group"></i> Community
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa-solid fa-sun"></i> Holiday
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa-solid fa-hand-fist"></i> Politic
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa-solid fa-hands-praying"></i> Observances
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa-solid fa-school"></i> Academic
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">All events</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin Controller
                            </a>
                            <ul class="dropdown-menu bg-dark-subtle">
                                <li><a class="dropdown-item" href="#">New Event</a></li>
                                <li><a class="dropdown-item" href="#">Event dashboard</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">User dashboard</a></li>
                            </ul>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <div class="btn btn-outline-dark text-white p-0" type="button" data-bs-toggle="offcanvas"
                             data-bs-target="#user-profile-offcanvas">
                            User controller
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="offcanvas offcanvas-end bg-dark border-start border-secondary" id="user-profile-offcanvas"
         style="width:300px; border-radius:20px 0 0 20px">
        <div class="offcanvas-header">
            <div type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></div>
        </div>
        <div class="offcanvas-body text-white bg-dark" style="border-radius: 20px 0 0 20px;">
            <div class="list-group">
                <a href="#" class="list-group-item-black list-group-item-action my-1 link-dark text-white-50"><i class="fa-solid fa-user"></i> Your profile</a>
                <hr />
                <a href="#" class="list-group-item-black list-group-item-action my-1 link-dark text-white-50"><i class="fa-solid fa-id-card"></i> Register</a>
                <a href="#" class="list-group-item-black list-group-item-action my-1 link-dark text-white-50"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
                <a href="#" class="list-group-item-black list-group-item-action my-1 link-dark text-white-50"><i class="fa-solid fa-door-open"></i> Logout</a>
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-5 pt-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark border-secondary fixed-bottom mt-5">
        <div class="container text-white">
            &copy; 2024 - kokora - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
