@inject HttpClient Http
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="EventManagementSystem.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/7afc703571.js" crossorigin="anonymous"></script>
    <HeadOutlet />
</head>

<body>
    <Routes />

    <script src="lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="lib/jquery-validate/jquery.validate.unobtrusive.js"></script>
    <script src="js/site.js" asp-append-version="true"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
