.background-container {
    font-weight: 600;
    color: #dc3545;
    position: absolute;
    background-color: rgb(0 0 0 / 0.75);
    border-radius: 100px;
    box-shadow: inset 0px -65px 80px 120px rgb(15 15 15 / 0.90);
    padding: 0;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: 1;
    background-image: url('imgs/paper.JPG');
    background-position: center;
    text-align: center;
    padding: 2rem;
    border-radius: 1.25rem; /* Rounded corners */
    width: 100%;
    max-width: 500px;
}

.h1-family {
    position: relative;
}

h1 {
    font-family: 'Creepster', Consolas;
    opacity: 1;
    letter-spacing: 2px;
    margin: 0;
}

    h1.back-h1 {
        color: rgb(220, 53, 69);
        position: absolute;
        top: 3px;
        left: 3px;
        width: 100%;
    }
